body {
    /* background-color: rgb(4, 29, 29); */
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 340px;
    background-color: #f1ecec;
    padding: 35px;
    text-align: center;
    margin-left: 35%;
    margin-top: 4px;
}

input {
    padding: 8px;
    border: 2px solid rgb(8, 92, 92);
    font-size: 19px;
}

button {
    background-color: blue;
    color: black;
    width: 60px;
    height: 41px;
    border: 2px solid rgb(8, 92, 92);
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    font-size: 20px;
}

.items li{
    position: relative;
    background-color: rgb(5, 31, 31);
    color: white;
    font-size: 20px;
    padding: 5px;
    text-align: left;
    margin: 10px 10px 10px;
 }

 .items i{
    position: absolute;
    right: 10px;
    cursor: pointer;
 } 

 .items span{
    position: absolute;
    right: 45px;
    cursor: pointer;
 } 

 .overlay{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: -1;
    opacity: 1; 
    transition: 1s;
}

.Model {
    width: 300px;
    background-color: white;
    padding: 30px 60px;
    position: absolute;
    transition: 2s;
    z-index: 9; 
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 3px #ccc;
    /* display: none;  */
}

.Model input{
    margin-bottom: 10px;
    margin-right: 20px;
    width: 100%;
    height: 35px;
}



 